<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551418343218-gm23ibgi6v2me0e3e3tf91ebrb8m4ire.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551418343218-gm23ibgi6v2me0e3e3tf91ebrb8m4ire</string>
	<key>API_KEY</key>
	<string>AIzaSyDs9wGFTp0iSiAOIeVu-qL7SDZnbSa9bqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>551418343218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emapps.emHome</string>
	<key>PROJECT_ID</key>
	<string>emhomes-emapps</string>
	<key>STORAGE_BUCKET</key>
	<string>emhomes-emapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551418343218:ios:b61d14cd0fb25140f1f12b</string>
</dict>
</plist>